#app {
    background-color: black;
    background-image: url("/img/containers.jpg");
}

#spinner {
    background: radial-gradient(farthest-side, #0099CC 94%, #0000) top/9px 9px no-repeat,
        conic-gradient(#0000 30%, #0099CC);
}

@tailwind components;
@tailwind utilities;